.item {
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
}

.status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #de3737;
}

.online {
  background-color: #6ce66c;
}
/* 
!можна використати метод COMPOSES для наслідування стилів іншого класу
.statusOnline {
  composes: status;
  background-color: #6ce66c;
} */

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.name {
  font-size: 18px;
  font-weight: bold;
}
