.transactionHistory {
  width: 600px;
  border-collapse: collapse; /* объединение границ таблицы */
  border: 1px solid #a3a0a0; /* серые границы */
  font-family: Roboto, sans-serif;
}

.transactionHistory th,
.transactionHistory td {
  padding: 8px;
  border: 1px solid #a3a0a0; /* серые границы */
  text-align: center;
  text-transform: capitalize;
  color: rgb(70, 68, 68);
}

.transactionHistory th {
  background-color: #caebf6;
  font-weight: bold;
  text-transform: uppercase;
}

.transactionHistory tbody tr:nth-child(even) {
  background-color: #dcdcdc;
}

.transactionHistory tbody tr:hover {
  background-color: #caebf6;
}
